{{ i18n.t('discussion.issues_title') }}

{{ issues }}

{{ i18n.t('discussion.suggestions_title') }}

{{ suggestions }}

{{ i18n.t('discussion.summary_title') }}

{{ summary }}

{{ i18n.t('discussion.score_text') }}: {{ score }} / 10

---

<div align="center">{{ i18n.t('discussion.content_generated_by', model=model) }}</div>
